//bg-icon
$bgFacebook: #3a589d;
$bgTwitter: #2478ba;
$bgPhone: #51cb5a;
$bgPinterest: #cb2320;
$bgGoogle: #dd4e31;
//bg
$bgHeaderTop: #624dd6;
$bgBlue1x: #D6EFF3;
$bgGreenAbout: #89B730;
$bgPinkTeacher: #FB678E;
$bgBlueLibrary: #008AD1;
$pinkBtnNews: #e91e63;
$pinkBtnNews: #e91e63;
$greenBtnNews: #88d914;
$blueBtnNews: #10b6fe;
$purpleBtn: #532b99;
//color-text
$whiteMain: #ffffff;
$greyTextMain: #333333;
$pinkText1x: #ff00ce;
$yellowText1x: #eeee22;
$blueText1x: #008AD1;
$blackText: #000000;
//bg-hover
$bgPink2x: #D22F79;
$bgBlue: #4e8096;
$bgGreen: #8ccc3d;
$bgRed: #e83643;
//colorItem
$colorItem1Menu: #624dd6;
$colorItem2Menu: #53e29b;
$colorItem3Menu: #dd4f75;
$colorItem4Menu: #88d914;
$colorItem5Menu: #14bba1;
$colorItem6Menu: #ff5722;

